@font-face {
  font-family: 'valera';
  src: url(../fonts/valera.ttf);
}

* {
  font-family: 'valera' !important;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  direction: rtl;
  margin: 0;
  min-height: 100vh;
  background-color: #0085ff08;
}
